.selected-nums-wrapper{
    display: flex;
    flex-direction: column;
    width: 1150px;
}

.selected-nums-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px;
    height: 25%;
    margin-left: 100px;
}

.selected-numbers {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.selected-letter, .selected-number {
    color: white;
    font-size: 0.8rem;
    font-weight: 800;
}
