.selected-nums-wrapper{
    display: flex;
    flex-direction: column;
    width: 1210px;
}

.selected-nums-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px;
    height: 25%;
    border: 1px white dashed
    margin-right: 0;
}

.selected-numbers {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.selected-letter, .selected-number {
    color: white;
    font-size: 0.8rem;
    font-weight: 800;
}
