.navbar {
  display: flex;
  align-items: center;
  background-color: #1e3a8a;
  color: white;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
  width: 100vw;
}

h1 {
  width: 450px;
  margin-left: 100px;
  border: 1pz white dashed;
}

.btn-wrapper {
  display: flex;
  margin-left: 550px; /* adjust spacing as needed */
}

/* Dropdown for number of cards */
select {
  margin-right: 30px;
  font-size: 1.2rem;
  padding: 10px 15px;
  background-color: #011345;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

select:hover {
  background-color: #95c8d8;
  color: #1e3a8a;
}

/* Start / Reset button */
.start-btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #011345;
  color: white;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #95c8d8;
  color: #1e3a8a;
}

.pause-btn {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: yellow;
  color: #1e3a8a;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;  
  margin-left: 10px;
}
