.toggle-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0px;
    display: flex;
    margin-right: 10px;
}

.show {
    font-size: .7rem;
    margin-bottom: 4px;
}

.toggle {
    position: relative;
    align-items: center;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.onoff {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 17px;
    width: 32px;
   
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    width: 10px;
    height: 15px
}

.slider:before {
    content: "";
    position: absolute;
    height: 15px;
    width: 10px;
    background-color:  #FF0000;
    border-radius: 20px;
}

input:checked + .slider:before{
    transform: translateX(10px);
    background-color: #00FF00;
}

